#fejlec {
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

nav {
    background-color: rgb(0, 0, 80);
    border-radius: 20px;
}

nav a {
    color: white !important;
}
nav a:hover {
    color: black !important;
}
.dropdown-item {
    color: black !important;
}

.fejleckep {
    height: 65px;
}
button{
    
    background-color: white !important;
}
body {
    background-color:  rgb(252, 255, 223);
    color: black;
}

h2 {
    font-size: 1.3rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}
.row {
    margin: 20px;
}
.cardimg {
    padding: 10px;
}
.card {
    border-radius: 10px;
    transition: ease-in-out 0.2s;
    width: 30%;
    margin: 20px;
}
.card:hover{
    background-color: whitesmoke;
    scale: 102%;
}